//*** Gradient Color for Pages Cover ***//
$linear: linear-gradient(to bottom, rgba(230, 130, 27, 0.55), rgba(230, 130, 27, 0.55))

*
	font-family: 'Public Sans webfont'
	-webkit-transition: all 0.2s
  -moz-transition: all 0.2s
  transition: all 0.2s

.v-centered
	display: flex
	align-items: center

.jumbotron
  height: 35rem
  background-position: bottom
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 6vw))

.display-4
	color: #fff
	font-weight: 600
	text-transform: uppercase
	text-shadow: 5px 4px 1px rgba(32, 33, 36, 0.28)

.wrapper
	margin-bottom: 2rem

.wrapper > h3
	font-size: 1.5rem
	font-weight: 600
	margin-top: 3rem

.wrapper > h6
	font-weight: 700

.wrapper > .text-muted
	font-weight: 400

.wrapper > p
	font-weight: 300

@media (max-width: 991px)
	.navbar-toggler
	  border-color: 0

	.navbar-collapse
	  background-color: #fff
	  border-radius: 0.5rem
	  padding: 2rem 3rem

	.navbar-collapse > .navbar-nav > .nav-item > .nav-link
	  color: #444
	  margin-left: 0

	.subtitle
		font-size: 1.6rem

@media (max-width: 700px)
	.display-4
		font-size: 2.2rem

	.subtitle
		font-size: 1.3rem

@media (max-width: 400px)

	.jumbotron
		height: 25rem
