.v-centered
	display: flex
	align-items: center

.jumbotron
  height: 30rem
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed
  border-bottom-left-radius: 50% 10%
  border-bottom-right-radius: 50% 10%

.bg-rizal
  background-image: url("../static/img/rizal-law.jpg")
