*
	-webkit-transition: all 0.2s
  -moz-transition: all 0.2s
  transition: all 0.2s

.v-centered
	display: flex
	align-items: center

.jumbotron
  height: 30rem
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 6vw))

.bg-rizal
  background-image: linear-gradient(to bottom, rgba(230, 130, 27, 0.55), rgba(230, 130, 27, 0.55)), url("../static/img/rizal-law.jpg")

.display-4
	color: #fff
	font-weight: 400
